@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 8px;
    background-color: #edeef0;
}
.logo{
    font-size: 3em;
    font-weight: 700;
    color: #f05136;
}
.nav-link{
    text-decoration: none;
    font-size: 1.6em;
    color: black;
    cursor: pointer;
}
.nav-link:hover{
    color: #f05136;
}
#home{
    background: black;
    color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div p{
    font-size: 2.5em;
    font-weight: 200;
}
h1,h3,h4{
    font-weight: 700;
}
h2{
    font-weight: 500;
}
h1{
    font-size: 5em;
}
h2{
    font-size: 4em;
}
h3{
    font-size: 2.5em;
}
h4{
    font-size: 1.8em;
}
.link-button{
    text-decoration: none;
    text-align: center;
    background: #f05136;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: white;
    font-size: 1.6em;
    padding: 8px;
    border-radius: 5%;
    border-color: black;
}
.link-button:hover{
    color: white;
}
#bio{
    display: flex;
    align-items: center;
}
#bio article *{
    margin: 20px;
}
.break{
    display: block;
}
#bio img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 100px;
}
p{
    font-size: 1.5em;
}
#portfolio{
    background: url();
    background-color: black;
    color: white;
}
#portfolio, #skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
#skills-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#skills-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills ul{
    list-style: none;
}
#skills ul li{
    margin: 10px 0;
}
#portfolio h3,hr,p{
    margin-bottom: 20px;
}
#portfolio div{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}
#portfolio div article{
    display: flex;
    flex-direction: column;
    background :white;
    color:black;
    height: 200px;
    width: 250px;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}
#portfolio div article p{
    padding: 0 5px;
}
hr{
    width: 400px;
}
progress[value]{
    height: 10px;
    width: 350px;
    -webkit-appearance:none;
}
progress[value]::-webkit-progress-bar{
    background-color: gray;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25 inset);
}
::-webkit-progress-value{
    background-color: #f05136;
}
#skills ul{
    font-size: 1.5em;
}
#contact{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.input{
    line-height: 2em;
    border-radius: 3px;
    width: 350px;
    border-color: black;
    margin: 20px;
}
#contact form input :last-child{
    margin-top: 30px;
}
#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 8px;
}
nav ul li{
    margin: 0px 20px;
}